@import '../../styles/variables';

.root {
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 20%);
    color: $color-text;
}

.error {
    background-color: $color-error;
}

.success {
    background-color: $color-success;
}

.info {
    background-color: $color-info;
}

.warning {
    background-color: $color-warning;
}


