@import '../../styles/variables';

.button {
    background-color: $color-highlight;
    color: $color-text;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
    cursor: pointer;

    &:active {
        transform: translateY(2px);
    }
}
